    <div class="mobile">
        <div class="container">
            <section class="row">
                <div class="twelve columns">
                    <ul class="social">
                        <li><a href="https://twitter.com/{{ site.twitter_username }}" class="social-btn social-btn--twitter"></a></li>
                        <li><a href="https://github.com/{{ site.github_username }}" class="social-btn social-btn--github"></a></li>
                        <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="social-btn social-btn--linked-in"></a></li>
                    </ul>
                </div>
                
            </section>
        </div>
    </div>

    <div class="page-head">
        <div class="container">
            <section class="row">

                <!-- sidebar -->
                <div class="eight columns">
                    
                    <a id="profile-link" href="/" class="no-underline block float-left"><object  id="profile" type="image/svg+xml" data="/img/profile.svg" class="inner"></object>
                        <h6 class="float-left" itemprop="name headline">Allison M<span class="superscript">c</span>Cartney</h6>
                    </a>
                </div>

                <!-- page title -->
                <div class="four columns desktop">

                   <ul class="social">
                        <li><a href="https://twitter.com/{{ site.twitter_username }}" class="social-btn social-btn--twitter"></a></li>
                        <li><a href="https://github.com/{{ site.github_username }}" class="social-btn social-btn--github"></a></li>
                        <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="social-btn social-btn--linked-in"></a></li>
                    </ul>
                </div>

            </section>
        </div>
    </div>