/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

hr {
    margin: $spacing-unit * 2 0 $spacing-unit * 2 0;
    border: 3px solid $grey-color-light;
}


/**
 * Basic styling
 */

html {
    background-color: $text-color;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    transition: all .5s ease-in-out;
    opacity: 0;
    border-bottom: 3px solid;

    &.loaded { opacity: 1; }
}

#sticky-footer-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -170px;
}

body#index {
    background-color: $background-color;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}

p,
ul {
  font-family: $base-font-family;
  font-size: 1.65rem;
  line-height: 1.7em;
  margin-bottom: 1.5rem;

  &.nav {
    font-family: $base-font-family;
  }
}

ul { 
    font-size: 1.55rem;
    list-style: none;

    li {
        margin-bottom: $spacing-unit;
    }

    p {
        font-size: 1.55rem;
        margin-bottom: .5rem;
    }
}

.page-head {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    background-color: $title-color;
    margin-bottom: $spacing-unit;

    a {
        color: $text-color;

        &:hover { color: lighten($text-color, 10%); }

        span {
            color: $brand-color;
        }
    }
}


.text-center { text-align: center; }

.desktop { display: none; }
.mobile { display: block; }

.social { 
    list-style: none; 
    display: inline-block;
    margin-bottom: 0;

    li {
        margin-left: 0;
        text-indent: 0;
        float: left;
        margin-right: .5rem;
        margin-bottom: 0;
    }
}

a.social-btn {
    color: $background-color;
    height: 3.5rem;
    width: 3.5rem;
    display: block;
    border-radius: 50%;
    border: 0;
    font-weight: $base-font-weight;
    font-family: FontAwesome;
    text-align: center;
    margin: 0 auto;

    &:after { 
        line-height: 3.5rem;
    }

    &:hover { 
        color: $background-color;
        border: 0; 
    }

    &.social-btn--twitter {
        background-color: #1DA1F2;

        &:after { content: "\f099"; }
        &:hover { background-color: lighten(#1DA1F2, 5%)}
    }

    &.social-btn--github {
        background-color: $text-color;

        &:after { content: "\f113" }
        &:hover { background-color: lighten(#000, 15%)}
    }

    &.social-btn--linked-in {
        background-color: #0077B5;

        &:after { content: "\f0e1" }
        &:hover { background-color: lighten(#0077B5, 5%)}
    }
}

.mobile {
    background-color: $text-color;

    .social {
        display: block;
    }

    a.social-btn {
        
        &.social-btn--twitter {
            background-color: transparent;

            &:hover { background-color: transparent; }
        }

        &.social-btn--github {
            background-color: transparent;

            &:hover { background-color: transparent; }
        }

        &.social-btn--linked-in {
            background-color: transparent;

            &:hover { background-color: transparent; }
        }
    }
}

.portfolio a {
    margin-bottom: $spacing-unit / 2;
    border: 0;
    display: block;
    position: relative;

    .img-container:after {
        opacity: 1;
        color: white;
        font-weight: $bold-font-weight;
        top: 0;
        bottom: 0;
        right: -1px;
        left: 1px;
        font-size: 2.2rem;
        font-size: 5vw;
        line-height: 6vw;
        padding: 5%;
        position: absolute;
        transition: all .25s ease; 
        content: attr(data-title);
        background-color: transparentize($brand-color, .15);
    }
}

a.btn {
    border-radius: 2px;
    display: inline-block;
    padding: 1rem 1.5rem;
}

a.btn--primary {
    background-color: $text-color;
    color: $background-color;

    &:hover {
        background-color: lighten($text-color, 10%);
        color: $background-color;
    }

    i { color: $brand-color; }
}


/**
 * Images
 */
img {
    width: 100%;
    vertical-align: middle;
    transition: all .2s ease;
    border: 1px solid gainsboro;
}

.img-link { 
    display: block;
    background: url("/img/pattern.svg") repeat; 
}

.featured-img { margin-bottom: $spacing-unit; }

/**
 * Iframes
 */


/**
 * Figures
 */
figure > img { display: block; }

figcaption { font-size: $small-font-size; }



/**
 * Lists
 */
ul, ol {
    line-height: 1.7em;
}

li {
    > ul,
    > ol { margin-bottom: 0; }
}



/**
 * Headings
 */


h2 {
    font-weight: $bold-font-weight;
    font-size: 3rem;
    letter-spacing: 0;
}

#profile-link {
    position: relative;
}

object {
    border-radius: 50%;
    pointer-events: none;
    width: 6rem;
    vertical-align: middle;
    display: inline-block;
}

h6 {
    margin-bottom: 0;
    margin-left: $spacing-unit;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.7rem;
    font-weight: $bold-font-weight;

    .superscript {
        font-size: .8rem;
        vertical-align: super;
    }
}

.guff {
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    transition: all .2s ease;
    font-weight: $bold-font-weight;
    
    &:hover {
        text-decoration: none;
        color: lighten($brand-color, 10%);
    }
}

.block { display: block; }


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 5px;
    background-color: lighten($background-color, 10%);
}

code {
    padding: 2px 5px;
    color: $brand-color;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.float-right { float: right; }


/**
 * Table
 */
table {
    width: 100%;
    border-collapse: collapse;
}
td , th {
    padding: 10px;
}
th {
    border-bottom: 1px solid $brand-color;
    font-weight: bold;
}

/**
 * Video wrapper
 */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
    margin-bottom: $spacing-unit
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Image grid for gallery images
.ImageGrid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -4px 0 2em -4px;
    a {
        padding: 4px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 33.33%;
        -ms-flex: 1 0 33.33%;
        flex: 1 0 33.33%;
        border-bottom:none;
        img {
            &:hover {
                opacity: .75;
            }
            width: 100%;
            max-height: auto;
            transition: opacity .2s ease;
        }
    }
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

@media(max-width:767px) {
    .site-title {
        padding-left: 0;
    }
}



@media ( min-width: 550px ) {

    .row { margin-bottom: $spacing-unit; }

    .page-head {
        padding-top: $spacing-unit;
        padding-bottom: 0;
        margin-bottom: 3rem;
        border-top: 3px solid;
    }

    h2 {
        font-size: 3.8rem;
        line-height: 3.6rem;
        margin-top: 0;
        text-align: left;
        letter-spacing: .05rem;
        margin-bottom: $spacing-unit;

        .superscript {
            font-size: 1.8rem;
        }
    }

    a.btn { padding: 1.5rem 2rem; }

    .ImageGrid {
        margin-bottom: 4em;
    }

    .featured-img,
    .videoWrapper { margin-bottom: 0; }

    .desktop { display: inline-block; }
    .mobile { display: none; }

    .social { 
        float: right;
        margin-top: 1rem;
    }

    .portfolio a {
        background-color: $brand-color;
        border: 0;
        display: block;
        position: relative;

        // &:hover img { transform: translate( 10px, -10px ); }

        .img-container:after { 
            opacity: 0;    
            background-color: transparent;
            font-size: 2.2rem;
            font-size: 3vw;
        }

        &:hover .img-container:after {
            opacity: 1;
            background-color: transparentize($brand-color, .15);
        }
    }
}

@media ( min-width: 1200px ) {
    
    .portfolio a {
        
        .img-container:after {
            font-size: 2.7vw;
            line-height: 3.2vw;
        }
    }
}
