/**
 * Site header
 */

.site-header {
    border-top: 5px solid $brand-color;
    min-height: 56px;
    background-color: $background-color;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    background-color: whitesmoke;
    z-index: 99;

    // Positioning context for the mobile navigation icon
    // position: relative;
}


/**
 * Site footer
 */

footer { margin: ( $spacing-unit * 2 ) 0; }

.contact-list { list-style: none; }

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit;
    background-color: $background-color;
    height: 129px;
    a { border-bottom: none; }
}

.push {
    height: 170px; /* .push must be the same height as footer */
}


/**
 * Page content
 */
 

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        padding: $spacing-unit 0;
        
        &:not(:last-child) {
            border-bottom: 3px solid lighten($background-color, 10%);
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: lighten($background-color, 25%);
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 4em;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1;
    color: $grey-color;
    margin-bottom: $spacing-unit * 2;
}

.post-content {
    margin-bottom: $spacing-unit;
}
