<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include page-header.html %}
    

    <div class="container">

        <section class="row">
            
            <div class="post-content twelve columns" itemprop="articleBody">
          
                {{ content }}
          
            </div>

        </section>

        {% include footer.html %}
        
    </div>

    <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/jquery.lazyload.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/jquery.fancybox.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/randomColor.min.js' | prepend: site.baseurl }}"></script>

    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function(){
            document.body.className = "loaded";
        });

        var link = document.getElementById("profile-link");
        var pic = document.getElementById("profile");
        var colorInterval;
        

        pic.addEventListener("load", function() {

            var doc = pic.getSVGDocument();
            var rect = doc.querySelector("rect"); // suppose our image contains a <rect>
            var darkAccent = doc.getElementById("dark-accent").querySelectorAll("path");
            var lightAccent = doc.getElementById("light-accent").querySelectorAll("path");
            

            rect.setAttribute("fill", "#ffeef1");

            for (var i = 0; i < darkAccent.length; ++i) { 
                darkAccent[i].style.fill = "purple"; 
            }

            for (var i = 0; i < lightAccent.length; ++i) { 
                lightAccent[i].style.fill = "mediumpurple"; 
            }


            clearInterval(colorInterval);
            colorInterval = setInterval(function () {
                var color1 = randomColor({ luminosity: 'dark' });
                var color2 = randomColor({ luminosity: 'light' });

                for (var i = 0; i < darkAccent.length; ++i) { 
                    darkAccent[i].style.fill = color1; 
                    darkAccent[i].style.transition = "all 4000ms";
                }
                for (var i = 0; i < lightAccent.length; ++i) { 
                    lightAccent[i].style.fill = color2; 
                    lightAccent[i].style.transition = "all 4000ms";
                }
            }, 4000);

        });

        $("[data-fancybox]").fancybox();
        
    </script>

  </body>

</html>
