<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="sticky-footer-wrapper">

      {% include header.html %}

      <div class="page-content">
          <div class="wrapper">

              <article class="post">

                <header class="post-header">
                  <h1 class="post-title">{{ page.title }}</h1>
                </header>

                <div class="post-content">
                  {{ content }}
                </div>

              </article>

          </div>
      </div>

      <div class="push"></div>
    </div>
      {% include footer.html %}

  <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.fancybox.min.js' | prepend: site.baseurl }}"></script>
  <script>
    jQuery(document).ready(function($) {

      var page_title = '{{ page.title }}'
        , id_name = page_title + '-nav';

        $('#' + id_name).addClass('active');
    });
  </script>

  </body>

</html>
