<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        
        <div class="container">

            <section class="row page-head">

                <div class="two columns">
                    <object  id="profile" type="image/svg+xml" data="/img/profile.svg" class="inner"></object>

                    <ul class="social">
                        <li><a href="#" class="social-btn social-btn--twitter"></a></li>
                        <li><a href="#" class="social-btn social-btn--github"></a></li>
                        <li><a href="#" class="social-btn social-btn--linked-in"></a></li>
                    </ul>

                </div>
                
                
                <div class="nine columns">
                    <h5 itemprop="name headline">{{ page.title }}</h4>
                </div>

                <article class="post nine columns" itemscope itemtype="http://schema.org/BlogPosting">

                    <div class="post-content" itemprop="articleBody">
                  
                        {{ content }}
                  
                    </div>

                    <img src="{{ page.image }}" />

                </article>
                    
                
            </section>


            <div class="push"></div>

        </div>  
          
        {% include footer.html %}

        <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/js/jquery.fancybox.min.js' | prepend: site.baseurl }}"></script>
        <script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>

        <script type="text/javascript">

            document.getElementById("profile").addEventListener("load", function() {
                var doc = this.getSVGDocument();
                var rect = doc.querySelector("rect"); // suppose our image contains a <rect>
                var darkAccent = doc.getElementById("dark-accent").querySelectorAll("path");
                var lightAccent = doc.getElementById("light-accent").querySelectorAll("path");

                rect.setAttribute("fill", "#ffeef1");

                for (var i = 0; i < darkAccent.length; ++i) {
                    darkAccent[i].style.fill = "purple";
                }

                for (var i = 0; i < lightAccent.length; ++i) {
                    lightAccent[i].style.fill = "mediumpurple";
                }

            });
            
        </script>
  
    </body>

</html>